[user]
    name = Zahid Islam
    email = dev@zahidislm.com
    signingkey = DE5E205CBE913676C6EAFA4B75A97F4044BF3A56
[color]
    ui = auto
    interactive = auto
[apply]
    # Detect whitespace errors when applying a patch.
    whitespace = fix
[core]
    # Use custom `.gitignore` and `.gitattributes`.
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    pager = delta --diff-so-fancy
    editor = nvim

    # Treat spaces before tabs and all kinds of trailing whitespace as an error.
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Speed up commands involving untracked files such as `git status`.
    # https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true
    compression = 9
[interactive]
    diffFilter = delta --color-only --diff-so-fancy
[delta]
    line-numbers = true
    navigate = true
    syntax-theme = ansi
[help]
    autocorrect = 1
[commit]
    # https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
    conflictstyle = diff3
[pull]
	rebase = true
[push]
    # https://git-scm.com/docs/git-config#git-config-pushdefault
    default = simple

    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true
    autoSetupRemote = true
[diff]
    # Detect copies as well as renames.
    renames = copies
    colorMoved = default
    algorithm = histogram
[init]
    defaultBranch = main
[gpg]
    program = gpg
[branch]
    sort = -committerdate
[column]
    ui = auto
[tag]
    sort = -version:refname
    gpgSign = true
[maintenance]
    auto = true
    strategy = incremental
[rerere]
    enabled = true
    autoUpdate = true
[alias]
    alias = !echo 'git config --get-regexp ^alias\\.' && git config --get-regexp ^alias\\.
    ac = !echo 'git add -A , git commit -m' && git add -A && git commit -m
    b = !echo 'git branch' && git branch
    browse = !echo 'open `git config get remote.origin.url`' && open `git config get remote.origin.url`
    co = !echo 'git checkout' && git checkout
    commit-empty = !echo 'git commit --allow-empty -m \"chore: Empty commit to re-trigger build\"' && git commit --allow-empty -m \"chore: Empty commit to re-trigger build\"
    delete-local-branches-already-merged-in-remote = !echo 'git branch --merged | egrep -i -v(main|master|develop|dev|staging|release)| xargs -r git branch -d' && git branch --merged | egrep -i -v '(main|master|develop|dev|staging|release)' | xargs -r git branch -d
    delete-local-branches-already-merged-in-remote-what-if = !echo 'git branch --merged | egrep -i -v(main|master|develop|dev|staging|release)//| xargs -r git branch -d' && git branch --merged | egrep -i -v '(main|master|develop|dev|staging|release)'
    delete-local-tags = !echo 'git tag -l | xargs git tag -d && git fetch --tags' && git tag -l | xargs git tag -d && git fetch --tags
    delete-stale-remote-tracking-branches-from-local = !echo 'git remote prune origin' && git remote prune origin
    ge = !echo 'GitExtensions .' && GitExtensions .
    gec = !echo 'GitExtensions commit' && GitExtensions commit
    gtfo = !echo 'git reset --hard , git clean -xfd' && git reset --hard && git clean -xfd
    history = !echo 'git log --oneline --graph --decorate --all' && git log --oneline --graph --decorate --all
    s = !echo 'git status' && git status
    pushf = !echo 'git push --force-with-lease' && git push --force-with-lease
    pushnew = !echo 'git push --set-upstream origin branch_name' && git push --set-upstream origin `git symbolic-ref --short HEAD`
    stashall = !echo 'git stash push --include-untracked' && git stash push --include-untracked
    graph = log --all --graph --decorate --oneline
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
